# Default values for pvc-exporter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

namespace: pvc-exporter
createNamespace: true

PodPvcMapping:
  image:
    repository: dockerid31415926/pod-pvc-mapping
    tag: v0.1.2-alpha
    pullPolicy: IfNotPresent
    pullSecrets:
      - name: regsecret

  replicaCount: 1
  
  containerPort: 8849
  service:
    headless: false
    ## If PodPvcMapping.service.headless=true, then ignore type
    type: NodePort
    port: 8849
    labels: {}
    annotations: {}
      # prometheus.io/path: "/"
      # prometheus.io/port: "8849"
      # prometheus.io/scrape: "true"

  nodeSelector: {}
  tolerations:
  - key: node-role.kubernetes.io/master
    effect: NoSchedule

  livenessProbe:
    httpGet:
      path: /
      port: metrics
    timeoutSeconds: 3
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 5
    successThreshold: 1

BlockPvcScanner:
  image:
    repository: dockerid31415926/block-pvc-scanner
    tag: v0.1.2-alpha
    pullPolicy: IfNotPresent
    pullSecrets:
      - name: regsecret

  containerPort: 8848
  service:
    headless: false
    ## If BlockPvcScanner.service.headless=true, then ignore type
    type: NodePort
    port: 8848
    labels: {}
    annotations: {}
      # prometheus.io/path: "/"
      # prometheus.io/port: "8848"
      # prometheus.io/scrape: "true"

  nodeSelector: {}
  tolerations:
  - key: node-role.kubernetes.io/master
    effect: NoSchedule

  resources:
    limits:
      memory: 200Mi
    requests:
      cpu: 100m
      memory: 200Mi

  livenessProbe:
    httpGet:
      path: /
      port: metrics
    timeoutSeconds: 3
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 5
    successThreshold: 1

serviceMonitor:
  enabled: true
