# Default values for pvc-exporter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


PodPvcMapping:
  image:
    repository: dockerid31415926/pod-pvc-mapping
    tag: v0.1.3-beta
    pullPolicy: IfNotPresent
    pullSecrets: []

  replicaCount: 1
  
  ## Environment variables
  ##
  env:  
  - name: EXPORTER_SERVER_PORT
    ## This is exporter http server port.
    value: "8849"
  
  ## Container port need same as Env $EXPORTER_SERVER_PORT.
  ##
  containerPort: 8849
  service:
    headless: false
    ## If PodPvcMapping.service.headless=true, then ignore type
    type: ClusterIP
    port: 8849
    labels: {}
    annotations: {}
      # prometheus.io/path: "/"
      # prometheus.io/port: "8849"
      # prometheus.io/scrape: "true"

  nodeSelector: {}
  tolerations:
  - key: node-role.kubernetes.io/master
    effect: NoSchedule

  resources:
    limits:
      memory: 200Mi
    requests:
      cpu: 100m
      memory: 200Mi

  livenessProbe:
    httpGet:
      path: /
      port: metrics
    timeoutSeconds: 3
    failureThreshold: 3
    initialDelaySeconds: 5
    periodSeconds: 5
    successThreshold: 1

  securityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true

serviceMonitor:
  enabled: true
